body {
	font-family: 'Open Sans', sans-serif;
	background-color: #181919;
}

.eachGif {
	float: left;
	position: relative;
}

.glyphicon {
    font-size: 60px;
}

button {
	margin-right: 20px;
	margin-top: 15px;
}

.btn {
	font-size: 18px;
	border-radius: 0;
	background-color: #0da58e;
	border-style: none;
	padding: 15px 25px;
}

#submit {
	color: white;
	background-color: #e52d64;
}

#title {
	color: white;
	font-size: 80px;
	margin: 60px 0px;
	font-weight: bold;
}

img {
	margin: 10px;
}

.form-group {
	margin-bottom: 20px;
	margin-top: 20px;
}
