body {
	font-family: 'Open Sans', sans-serif;
}

.eachGif {
	float: left;
	position: relative;
}

.glyphicon {
    font-size: 40px;
}

button {
	margin: 10px;
}

.btn {
	font-size: 18px;
}

img {
	margin: 10px;
}

p {
	margin: 10px 10px 0 10px;
}

h1 {
	font-size: 60px;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 20px;
	margin-top: 20px;
}
